<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
    <style>
        /* Примените стиль к элементу с id "author-name" */
        #author-name {
            font-size: 20px; /* Здесь можно указать желаемый размер шрифта в пикселях или других единицах измерения */
            /* Другие стили, если необходимо */
        }
    </style>
</head>
<body>
    <h1>Author Details</h1>
     <p><span id="author-name"><strong>Title: </strong>{{ author.name }}</span></p>
</body>
</html>
